.herobackground{
    height:400px;
    width:100%;
    background-size: cover;
    animation: backganimation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    top:80px;
}
@keyframes backganimation{
    0%{background-image:url(../bg1.jpg) ;}
    16.66%{background-image: url(../bg2.jpg);}
    33.32%{background-image: url(../bg3.jpg);}
    49.98%{background-image: url(../bg4.jpg);}
    66.64%{background-image: url(../bg5.jpg);}
    83.3%{background-image: url(../bg6.jpg);}
    100%{background-image: url(../bg7.jpg);}
}
@media (width<786px){
    .herobackground {
        height: 200px;
        width: 100%;
        background-size: cover;
        animation: backganimation;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        position: relative;
        top: 80px;
    }
}
 